<div id="{{ modalID }}" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p>{{ message }} <span id="{{ messageModalID }}"></span> ?</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        {% if btn is defined %}
            {{ form_widget(btn) }}
        {% else %}
            <a href="javascript:void(0)" type="button" class="btn btn-default btn-validate">
                {{ 'confirm'|trans }}
            </a>
        {% endif %}
        <button type="button" data-dismiss="modal" class="btn btn-primary">
            {{ 'cancel'|trans }}
        </button>
    </div>
</div>